@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
:root{
    --color-white: #ffffff;
    --color-black: #202020;
} 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 40px;
}

.information-column {
    padding: 40px;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
}

.information-column hr {
    border: none;
    border-bottom: 1px solid blue;
    margin-top: 18px;
}

.information-column img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid rgb(0, 13, 255) ;
}

.information-column h3{
    text-align: left;
    margin-top: 20px;
}

.information-column ul {
    list-style-type: none;
}

.information-column li {
    text-align: left;
    margin: 10px 0;
}

.contact-description a {
    text-decoration: none;
    color: var(--color-white);
}

.contact-description i {
   color:rgb(0, 183, 255);
   margin-right: 10px;
}

.education-description {
        margin-top: 32px;
}

.education-description p{
    color: rgb(0, 183, 255);
}

.language-description .percent {
        height: 6px;
        background-color: rgb(38, 59, 150);
        margin-top: 6px;
        width: 205px;
}

.language-description .percent div {
    height: 6px;
    background-color: rgb(0, 183, 255);
   
}

.language-description .percent.english div {
    width: 65%;

}
.language-description .percent.espanhol div {
  width: 10%;

}

.experiences-column {
   background-color: #fff;
   padding: 40px;
   color: var(--color-black);
   
}

.experiences-column section {
     margin-bottom: 30px;
}

.experiences-column h2 {
   margin-bottom: 15px;
 }

.experiences-column .experience {
    margin-bottom: 15px;
}

.experiences-column a {
    text-decoration: underlinef;
    color: #000;
}

.experiences-column .last-date {
      text-align: right;
}

.experiences-column .project {
    margin-bottom: 15px;
}

@media (min-width: 992px) {
     .container {
        display: flex;
     }
     .information-column img{
        width: 200px;
        height: 200px;
     }
 
     .experiences-column .experience {
        display: flex;
     }

     .experience-date {
        width: 300px;
     }

}

